div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 0;
}

.up {
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #d9d9d9;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: start;
}

.down {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 0;
    margin-bottom: 0;
}

.left {
    display: flex;
    height: 100%;
    justify-content: left;
    width: 33%;
}

.center {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 33%;
    flex-direction: row;
}

.right {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 33%;
    flex-direction: row;
    align-items: center;
}

.text1 {
    display: flex;
    align-items: center;
    font-size: 40px;
}

.settings {
    height: 73px;
    width: 97px;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    border: 0;
    margin-top: 30px;
}

.FAQ {
    height: 77px;
    width: 140px;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    border: 0;
    margin-top: 10px;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 25%;
    margin-bottom: 120px;
    margin-top: 30px;
}

.comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    align-items: center;
    margin-bottom: 150px;
}

.podcomp {
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 100%;
}

.sos {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.text2 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.pp {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.polzunok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Центрируем элементы по вертикали */
    margin: 10px 0; /* Уменьшаем отступы */
}

body
{
    background: white;
}
.show-results-button {
    background-color: #d9d9d9;
    color: white; /* Белый цвет текста */
    padding: 15px 32px; /* Отступы */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Отображение как блочный элемент */
    font-size: 16px; /* Размер шрифта */
    margin: 20px 666px; /* Отступы вокруг кнопки */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
}

.show-results-button:hover {
    background-color: #45a049; /* Цвет фона при наведении */
}